extends layout

block content


    .container-fluid.mt-5.cuatrocerocuatro(style="background-color: #fafafa21")
        .row
            .col-10.col-md-8.col-xl-6.mx-auto.mt-4.mb-3
                img.img-fluid(src='http://localhost:3000/images/iconos-motos.png', alt='')
        .row.mx-auto.text-center
            p.col-12  LOGIN ERROR
            h1.col-12 400
            p.col-12 PEIN YOURSELF
        .row
            .col-10.col-md-8.col-xl-6.mx-auto.mb-3
                img.img-fluid(src='http://localhost:3000/images/iconos-motos.png', alt='')