extends layout

block content
  form(action="/api/anuncios/upload" method="post" enctype="multipart/form-data")
    .form-group
      input(type="file" name="photos")
      input(type="submit" value="enviar").btn.btn-default